body,html {
    font-size: 26.66666666666667vw;
}
/*头部*/
#header {
    /*background-color: red;*/
    width: 100vw;
    height: 0.5rem;
    background-color: #222222;
    position: relative;
    /*height: 1rem;*/
}
#header .head_box {
    width: 100%;
    height: 100%;
    background-color: #222222;
    display: flex;
    left: 0;
    top: 0;
    /*justify-content: space-around;*/
    align-items: center;
    position: absolute;
}
#header .head_box .head_logo {
    position: absolute;
    left: calc(50% - .16rem);
}
#header .head_box .head_logo > a{
    display: inline-block;
    width: 0.32rem;
    height: 0.32rem;
    background: url(../images/logo/home_LOGO_1.png) center center no-repeat;
    background-size: 0.32rem 0.32rem;
}
#header .head_box .head_menu_icon {
    position: absolute;
    left: .1rem;
    width: 0.15rem;
    height: 0.14rem;
    background: url(../images/logo/home_menu_icon.png) center/0.15rem 0.14rem no-repeat;
    /*cursor: pointer;*/
}
#header .head_box .head_loadicon {
    position: absolute;
    right: .3rem;
    /*cursor: pointer;*/
}
#header .head_box .head_loadicon > a {
    display: inline-block;
    font-size: .12rem;
    color: #222;
    width: 0.6rem;
    height: 0.25rem;
    text-align: center;
    line-height: 0.24rem;
    background-color: #fff;
    border-radius: 0.05rem;
}
/*头部下拉菜单*/
#header #head_nav {
    width: 100vw;
    min-height: calc(100vh - 0.5rem);
    background-color: #222;
    position: absolute;
    left: 0;
    top: 0.5rem;
    display: none;
}
#header #head_nav > div {
    display: flex;
    justify-content: center;
}
#head_nav .head_nav_box {
    width: 2.75rem;
    height: calc(100vh - 0.6rem);
    padding-top: .1rem;
}
#head_nav .head_nav_box .head_navBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: .45rem;
    border-bottom: 0.01rem solid #fff;
    color: #fff;
    font-size: 0.12rem;
}
/*尾部*/
.footer {
    width: 100vw;
    min-height: 1.5rem;
    background-color: #222;
    display: flex;
    justify-content: center;
}
.footer .footer_visit_pc {
    display: flex;
    justify-content: center;
}
.footer .footer_visit_pc > a {
    margin: 0.1rem 0 0.25rem 0;
    display: block;
    width: 0.6rem;
    height: 0.15rem;
    font-size: 0.09rem;
    color: #000;
    background-color: #fff;
    padding: 0.04rem 0.08rem 0.03rem 0.08rem;
}
.footer .footer_centerAround {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.09rem;
    font-size: 0.09rem;
    position: relative;
}
.footer .footer_text1 {
    width: 3.75rem;
    display: flex;
    justify-content: space-around;
}
.footer .footer_text1 a {
    font-size: 0.12rem; 
    margin-left: 0.35rem;
    width: 0.9rem;
    display: inline-block;
    text-align: left;
}
/*.footer .footer_text2 {
    width: 3rem;
    display: flex;
    justify-content: space-around;

}
.footer .footer_text3 {
    width: 2.5rem;
    display: flex;
    justify-content: space-around;

}*/
.footer .footer_centerAround a {
    color: #fff;
}
.footer .footer_copyright {
    color: #999;
    font-size: 0.12rem;
    text-align: center;
    padding: 0.05rem 0;
    border-top: 0.01rem solid #fff;
    margin-top: 0.2rem;
}
/*lookmore*/
/*查看更多*/
.common_lookmore {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_lookmore .common_lookmore_btn {
    display: block;
    width: 3.55rem;
    height: 0.3rem;
    border: 0.01rem solid #F7C939;
    background: #fff;
    outline: none;
    text-align: center;
    line-height: 0.3rem;
    margin: 0rem 0 0.3rem 0;
    font-size: 0.12rem;
}