body,html {
    font-size: 26.66666666666667vw;
}
*{
    -webkit-tap-highlight-color: transparent;
}
/*头部*/
.header {
    width: 3.45rem;
    height: 0.7rem;
    background-color: #fff;
    border-bottom: 0.02rem solid #dcdddd;
    padding: 0 0.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
.logoSection {
    display: flex;
    align-items: center;
    line-height: 0.7rem;
}
.logo {
    width: 0.9rem;
    height: 0.22rem;
}
.logoLine{
    width: 1px;
    height: 0.23rem;
    background: #dcdddd;
    margin: 0 0.1rem;
}
.logoText {
    width: 1.22rem;
    height: 0.12rem;
}
.downMenuIcon {
    width: 0.22rem;
    height: 0.18rem;
}
.downMenuBox {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.closeIconBox {
    width: 3.45rem;
    padding: 0 0.15rem;
    height: 0.7rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 0.06rem;
}
.menuClose {
    width: 0.17rem;
    height: 0.16rem;
    position: absolute;
    top: calc(50% - 0.08rem);
    right: 0.17rem;
}
.downMenu li a {
    font-size: 0.16rem;
    display: block;
    text-align: center;
    line-height: 0.5rem;
    width: 100%;
    height: 0.5rem;
    color: #fffefe;
    border-bottom: 0.02px solid #ccc;
}

/*查看更多*/
.lookmore {
    padding: 0.19rem 0 0.24rem 0;
    font-size: 0.15rem;
    color: #727171;
    font-weight: bold;
    text-align: center;
}

/*咨询、联系按钮*/
.footer {
    width: 100%;
    height: 0.5rem;
    font-size: 0.15rem;
    color: #fff;
    background: #b48845;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}
.footer_line {
    width: 1px;
    height: 0.27rem;
    position: absolute;
    top: 0.12rem;
    left: 50%;
    background: #fff;
}
.consult, .OnlineBooking {
    width: 50%;
    height: 100%;
    line-height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}
.consult img {
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 0.13rem;
}
.OnlineBooking img {
    width: 0.25rem;
    height: 0.22rem;
    margin-right: 0.13rem;
}
.bottom_companyNameBox {
    width: 100%;
    padding-top: 0.3rem;
    background: #f4f6f8;
}
.bottom_companyName {
    width: 100%;
    height: 0.4rem;
    background: #fff;
    font-size: 0.09rem;
    color: #595757;
    line-height: 0.4rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.kingChina_active {
    width: 100%;
}
.kingChina_active .navbox {
    width: 100%;
    display: flex;
    margin: 0.1rem 0 0.07rem 0;
}
.kingChina_active .kingChina_nav {
    width: 50%;
    height: 0.47rem;
    position: relative;
}
.kingChina_active .kingChina_nav h3 {
    width: 100%;
    height: 0.47rem;
    line-height: 0.47rem;
    text-align: center;
    font-size: 0.15rem;
    font-weight: bold;
    color: #fff;
    background: #d4d6db;
}
.kingChina_active .kingChina_nav.active h3 {
    background: #b48845;
}
.triangle_border_down {
    width:0;
    height:0;
    border-width:0.18rem 0.18rem 0;
    border-style:solid;
    border-color:#b48845 transparent transparent;/*灰 透明 透明 */
    position: absolute;
    bottom: -0.18rem;
    left: calc(50% - 0.2rem);
}
.newslistBox {
    padding-top: 0.1rem;
}
.kingChina_active .newslist {
    width: 3.45rem;
    padding: 0.13rem 0.15rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.01rem solid #dcdddd;
}
.kingChina_active .newslist img {
    width: 1.21rem;
    height: 0.9rem;
}
.kingChina_active .newslist .newslist_tips {
    width: 2.11rem;
    padding-top: 0.12rem;
}
.newslist_tips p {
    font-size: 0.12rem;
    line-height: 0.2rem;
    color: #303030;
    font-weight: bold;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
}
.newslist_tips .time {
    margin-top: 0.05rem;
    display: flex;
}
.newslist_tips .time img {
    width: 0.17rem;
    height: 0.17rem;
    margin-right: 0.1rem;
}
.newslist_tips .time span {
    font-size: 0.12rem;
    color: #9fa0a0;
}
.OnlineBookingBox {
    width: 100%;
    height: calc(100vh - 1.22rem);
    position: relative;
    margin-top: 0.72rem;
    z-index: 99;
    background: #fff;
}
.OnlineBookingBox .imgHead {
    width: 100%;
    position: relative;
}
.OnlineBookingBox .imgHead img {
    width: 100%;
    height: 1.42rem;
    vertical-align: top;
}
.OnlineBookingBox .imgHead div {
    width: 2.4rem;
    height: 1.26rem;
    position: absolute;
    top: 0.65rem;
    left: 0.675rem;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    box-shadow: 0.05rem 0.05rem 0.15rem #ececec;
}
.OnlineBookingBox .imgHead div h3 {
    font-size: 0.28rem;
    color: #b48845;
    margin: .39rem 0 .25rem 0;
    font-weight: bold;
    text-align: center;
}
.OnlineBookingBox .imgHead div p {
    font-size: 0.08rem;
    color: #727171;
    font-weight: bold;
    text-align: center;
}
.BookingForm {
    margin-top: .88rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.BookingInput {
    width: 3.1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    box-shadow: 0.05rem .05rem 0rem #e9eaea;
    border-radius: .04rem;
    border: .01rem solid #dcdddd;
    margin-bottom: .13rem;
    font-size: .13rem;
    color: #727171;
    padding-left: .1rem;
    outline: none;
}
.BookingArea {
    width: 3.1rem;
    height: .83rem;
    padding-top: .17rem;
    box-shadow: 0.05rem .05rem 0rem #e9eaea;
    border-radius: .04rem;
    border: .01rem solid #dcdddd;
    margin-bottom: .13rem;
    font-size: .13rem;
    color: #727171;
    padding-left: .1rem;
    outline: none;
}
.BookingSubmit {
    width: 3.1rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border-radius: .04rem;
    border: 0;
    background: #b48845;
    font-size: .15rem;
    color: #fffefe;
    text-align: center;
}
.consultation {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 101;
    display: none;
}
.consultation_box {
    background: #fff;
    width: 2.6rem;
    height: 1.2rem;
    border-radius: .04rem;
    position: absolute;
    top: calc(50vh - .6rem);
    left: calc(50% - 1.3rem);
}
.consultation_box p {
    height: .6rem;
    width: 100%;
    text-align: center;
    line-height: .6rem;
    font-size: .15rem;
    color: #727171;
    border-bottom: .01rem solid #dcdddd;
}
.consultationBtn {
    display: flex;
    font-size: .15rem;
    color: #b48845;
}
.cancle {
    border-right: .01rem solid #dcdddd;
}
.cancle, .call {
    display: block;
    font-size: .15rem;
    color: #b48845;
    width: 50%;
    height: .55rem;
    line-height: .55rem;
    text-align: center;
}